<div id="<%= dom_id singer %>">
  <p>
    <strong>Name:</strong>
    <%= singer.name %>
  </p>

  <p>
    <strong>Born:</strong>
    <%= singer.born %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= singer.biography %>
  </p>

  <p>
    <strong>Genres:</strong>
    <%= singer.genres %>
  </p>

</div>
