<h1 style="color:white"><%= t "top_5_worst_albums"%></h1>
<% @ar.take(5).each do |album|%>
    <div class="clearfix">
        <div class="column menu">
            <%= link_to (image_tag album[0].cover,style:"width:250px; height:250px", class: 'image'), album[0] %>
        </div>
        <div class="column content">
            <div class="right">
                <h1 style="font-size:5vw"><%= link_to (album[0].title), album[0], style: 'color:white'%></h1>
                <h1 style="text-align: right; color:white"><%= "##{@ar.index(album) + 1}" %></h1>
            </div>
            <h2><%= link_to (album[0].artist), singer_path(album[0].singer_id), style: 'color:white'%></h2>
            <p style="font-size:2vw; color:white" class="glyphicon glyphicon-star-empty"><%= album[1] %></p>
        </div>
    </div>
<%end%>

