<%= form_for([@album, @review]) do |form| %>
  <% if @review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% @review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="wrapper">
    <form action="#">
          <div class="h5 font-weight-bold mb-3"><%= form.label :rating,(t "your_mark")%></div>
          <div class="form-group d-flex align-items-center">
            <%= form.number_field :rating, min: 1, max: 10, class: "form-control" %>
          </div>
          <div class="h5 font-weight-bold mb-3"><%= form.label :comment %></div>
        <div class="form-group d-flex align-items-center">
          <%= form.text_area :comment, class: "form-control" %>
        </div>         
          <%= form.submit (t "create_review"), class: "btn btn-primary mb-3"%>                    
    </form>
  </div>
<% end %>
